//colors
$ivory-color: #f5f5dc;
$ivory-dark-color: rgb(202, 202, 178);
$transparent-black-color: rgba(0, 0, 0, 0.7);
$less-transparent-black-color: rgba(0, 0, 0, 0.9);

//radius
$r10: 10px;
$r20: 20px;
