@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.header {
  background-color: $transparent-black-color;
  width: 100%;
  position: fixed;
  z-index: 10;
  @media (width < 1024px) {
    background-color: $less-transparent-black-color;
  }
}

.container {
  @include container;
  padding-block: 25px;
}

.nav {
  padding: 0;
  &-list {
    @include flex(row, space-between, center, nowrap);

    &-item {
      &__link {
       
        color: $ivory-color;
        @include font(normal, 700, 20px, 10px, 0.1px);
        text-transform: uppercase;

        &:hover {
          color: $ivory-dark-color;
        }

      }
    }
    @media (width < 1024px) {
      @include flex(column, space-between, center, nowrap);
      gap: 20px;
    }
  }
  @media (width < 1024px) {
    width: 100%;
    padding: 40px 15px;
    background-color: $less-transparent-black-color;

    position: absolute;
    top: 82px;

    right: -100%;
    transition: all 0.5s;
  }
}

.hamburger,
.hamburger__active {
  @include flex(column, center, center, nowrap);
  margin-left: auto;
  gap: 5.33px;
  cursor: pointer;

  width: 32px;
  height: 32px;

  span {
    width: 26.67px;
    height: 2.67px;
    background-color: white;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    @media (max-width: 767px) {
      width: 20px;
      height: 2px;
    }
  }

  @media (width > 1023px) {
    display: none;
  }
}

.hamburger__active {
  span {
    background: white;
  }
  span:nth-child(2) {
    opacity: 0;
  }

  span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    @media (max-width: 767px) {
      -webkit-transform: translateY(7px) rotate(45deg);
      -ms-transform: translateY(7px) rotate(45deg);
      -o-transform: translateY(7px) rotate(45deg);
      transform: translateY(7px) rotate(45deg);
    }
  }
  span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    @media (max-width: 767px) {
      -webkit-transform: translateY(-7px) rotate(-45deg);
      -ms-transform: translateY(-7px) rotate(-45deg);
      -o-transform: translateY(-7px) rotate(-45deg);
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}

.navOpen {
  right: 0;
}
