@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.footer {
  background-color: $less-transparent-black-color;
  width: 100%;

  .container {
    @include container;
  
    padding-block: 15px;
  
    @include flex(column, flex-start, stretch, nowrap);
    gap: 10px;
  }

  &-links {
    @include flex(row, space-evenly, center, nowrap);
    img {
      width: 50px;
      height: 50px;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  
  h3 {
    text-align: center;
    @include font(normal, 600, 25px, 1.23, 0.1px);
    color: $ivory-color;
    text-transform: uppercase;
  }
}


